<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ partial "head.html" . }}
</head>
<body>
    <a href="#main-content" class="skip-link">Skip to main content</a>
    {{ partial "header.html" . }}
    <main id="main-content">
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ partial "schema.html" . }}
</body>
</html>
